* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
}

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

/* nawigacja */

nav {
	font-size: 2rem;
	text-transform: uppercase;
}

.navbar-toggler {
	font-size: 3rem;
}

.navbar-brand {
	font-size: 2.4rem;
	font-weight: bold;
	text-transform: none;
}

/* header */

header {
	font-size: 2rem;
}

.carousel-item {
	position: relative;
	height: 400px;
	background-position: center;
	background-size: cover;
	z-index: 0;
}

.carousel-img-one {
	background-image: url('../img/physics-gbf18e9101_640.jpg');
}
.carousel-img-two {
	background-image: url('../img/calculator-g2906a0cfa_640.jpg');
}
.carousel-img-three {
	background-image: url('../img/newtons-g9e232fdd6_640.jpg');
}

.home-boxes {
	padding: 5em 0;
}

.home-box i {
	font-size: 4rem;
}
.home-box h3 {
	font-size: 2.6rem;
}

footer{
	font-size:1.6rem;
}
/* ----- */

.home-passion {
	position: relative;
	height: 350px;
	background-image: url('../img/img6.jpg');
	background-position: center;
	background-size: cover;
	z-index: 0;
}
/* ----- */

.home-brand h3 {
	font-size: 3rem;
	font-weight: bold;
}

@media (min-width: 1400px) {
	.carousel-item {
		height: 600px;
	}

	.carousel-img-one {
		background-image: url('../img/physics-g0f4bfdc44_1920.jpg');
	}
	.carousel-img-two {
		background-image: url('../img/calculator-g031b19a62_1920.jpg');
	}
	.carousel-img-three {
		background-image: url('../img/newtons-g2cabbca19_1920.jpg');
	}
}


.aboutus-hero {
	background-image: url('../img/light.jpg');
	background-position: bottom;
}

/* ----- */

.aboutus-info {
	background-color: rgb(248, 248, 248);
}

.aboutus-info .container {
	padding: 2em 0.5em;
}

.aboutus-text {
	padding: 1.8em;
}

.aboutus-text h3 {
	margin-bottom: 0.5em;
	font-size: 2.6rem;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: underline #007bff;
}

.aboutus-text-right {
	text-align: right;
}

.aboutus-img {
	height: 300px;
	object-fit: cover;
}


/* ----- */
.aboutus-bottom i {
    font-size: 3rem;
}

.aboutus-bottom h3 {
    font-size: 2.2rem;
    font-weight: bold;
}


@media (min-width: 1400px) {
	.carousel-item {
		height: 600px;
	}

	.carousel-img-one {
		background-image: url('../img/physics-g0f4bfdc44_1920.jpg');
	}
	.carousel-img-two {
		background-image: url('../img/calculator-g031b19a62_1920.jpg');
	}
	.carousel-img-three {
		background-image: url('../img/newtons-g2cabbca19_1920.jpg');
	}
}


.projects-hero {
    background-image: url('../img/projects/project-hero.jpg');
    background-position: center;
}

.projects img {
    height: 240px;
    object-fit: cover;
}

.projects .btn {
    font-size: 1.4rem;
    text-transform: uppercase;
}



@media (min-width: 992px) {
	.aboutus-info .container {
		padding: 0;
	}

	.aboutus-shadow {
		box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4);
	}

	.aboutus-text {
		padding: 5em 0;
		transform: skew(-15deg);
	}

	.aboutus-text-left {
		padding-right: 2em;
		text-align: right;
	}

	.aboutus-text-right {
		padding-left: 2em;
		text-align: left;
	}

	.aboutus-img {
		height: auto;
		transform: skew(-15deg);
	}
}

@media (min-width: 1400px) {
	.carousel-item {
		height: 600px;
	}

	.carousel-img-one {
		background-image: url('../img/physics-g0f4bfdc44_1920.jpg');
	}
	.carousel-img-two {
		background-image: url('../img/calculator-g031b19a62_1920.jpg');
	}
	.carousel-img-three {
		background-image: url('../img/newtons-g2cabbca19_1920.jpg');
	}
}
